@{


}
@*<style>
    #photo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-bottom:50px;
        padding-bottom:50px;
        top: 0;
        left: 50%;
        right: 0;
    }
</style>*@

<div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                 <div style="width:170px;height:170px;position:relative;display:flex; justify-content:center;left:40%; " class="mb-3 row ">
                <picture>
                    <source srcset="sourceset" type="image/svg+xml">
                    <img src="image source" class="img-fluid" alt="image desc">
                </picture>
                </div>
                                     
        
                                        <div class="mb-3 row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">Ad Soyad</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="example-search-input" class="col-md-2 col-form-label">İş</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
                                            </div>
                                        </div>

                                         <div class="mb-3 row">
                                            <label for="example-search-input" class="col-md-2 col-form-label">Son Çalışılan İş</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label for="example-search-input" class="col-md-2 col-form-label">Şehir</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
                                            </div>
                                        </div>


                                         <div class="mb-3 row">
                                            <label for="example-search-input" class="col-md-2 col-form-label">Milliyet</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
                                            </div>
                                        </div>


                                          <div class="mb-3 row">
                                            <label for="example-search-input" class="col-md-2 col-form-label">Teknoloji</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
                                            </div>
                                        </div>

                                         <div class="mb-3 row">
                                            <label class="col-md-2 col-form-label">Medeni Haliniz</label>
                                            <div class="col-md-10">
                                                <select class="form-select">
                                                    <option>Seçiniz</option>
                                                    <option>Evli </option>
                                                    <option>Bekar</option>
                                                </select>
                                            </div>
                                        </div>
                
                                        <div class="mb-3 row">
                                            <label for="example-email-input" class="col-md-2 col-form-label">Email Adresi</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
                                            </div>
                                        </div>
                                        
                                        <div class="mb-3 row">
                                            <label for="example-tel-input" class="col-md-2 col-form-label">Telefon  </label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
                                            </div>
                                        </div>
                                     
                                       
                                     
                                        <div class="mb-3 row">
                                            <label for="example-date-input" class="col-md-2 col-form-label">Doğum Tarihi</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="date" value="2019-08-19" id="example-date-input">
                                            </div>
                                        </div>
                                       

                                          <div class="mb-3 row">
                                            <label for="example-search-input" class="col-md-2 col-form-label">Hakkımda Kısaca</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
                                            </div>
                                         </div>

                                       
                                        <div class="mb-3 row">
                                          <label for="example-search-input" class="col-md-2 col-form-label">Hakkkımda Geniş</label>
                                         <div class="col-md-10">
                                          <textarea class="form-control" name="" value="How do I shoot web" id="" rows="3"></textarea>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>