


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button id="btnExperienceAdd" onclick="AddExperience()" class="btn btn-success waves-effect waves-light" type="submit">Deneyimlerinizi Eklemek İçin Tıklayınız</button>
                <hr>
                <h4 class="card-title">Table Edits</h4>
                <p class="card-title-desc">Table Edits is a lightweight jQuery plugin for making table rows editable.</p>

                <div class="table-responsive">
                    <table id="tablo" class="table table-editable table-nowrap align-middle table-edits">
                        <thead>
                            <tr>
                               
                                <th>Ad</th>
                                <th>Şehir</th>
                                <th>Açıklama</th>
                                <th>Başlangıç Tarihi</th>
                                <th>Bitiş Tarihi</th> 
                                <th>ProfileId</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody" >
                            
                            
                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->




<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->

<div id="modal" class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">Deneyimler</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Example</h4>
                                <form id="repeater"  class="repeater"  enctype="multipart/form-data">
                                    <div data-repeater-list="group-a">
                                        <div  data-repeater-item class="row form">
                                            <div class="mb-3 col-sm-2">
                                                <label class="form-label" for="name">Deneyim Yeriniz</label>
                                                <input type="text" id="name"  name="untyped-input" class="form-control" placeholder="" />
                                            </div>

                                            <div class="mb-3 col-sm-2">
                                                <label class="form-label" for="experienceCity">Şehir</label>
                                                <input type="email" id="experienceCity" name="experienceCity" class="form-control" placeholder="" />
                                            </div>

                                            

                                            <div class="mb-3 col-sm-2">
                                                <label class="form-label" for="startDate">Başlangıç Tarihi</label>
                                                <input type="text" id="startDate" name="startDate" class="form-control" placeholder="" />
                                            </div>

                                            <div class="mb-3 col-sm-2">
                                                <label class="form-label" for="endDate">Bitiş Tarihi</label>
                                                <input type="text" id="endDate" name="endDate" class="form-control" placeholder="" />
                                            </div>
                                            <div class="mb-3 col-lg-3">
                                                <label class="form-label" for="description">Açıklama</label>
                                                <textarea name="description" id="description"  class="form-control" placeholder=""></textarea>
                                            </div>
                                                
                                            <div class="col-sm-1 align-self-center">
                                                <div class="d-grid">
                                                    <input data-repeater-delete type="button" class="btn btn-primary" value=" Sil" />
                                                </div>
                                            </div>
                                        </div>
                                        <input id="profileId" type="hidden" class="btn btn-primary" value="" />

                                    </div>
                                    <input id="btnAddExperience" data-repeater-create type="button" class="btn btn-success mt-3 mt-lg-0" value="Yeni Deneyim" />
                                    <input id="btnSaveExperience" type="button" onclick="saveExperience()"  class="btn btn-info mt-3 mt-lg-0" value="Kaydet" />
                                    
                                </form>
                              
                            </div>
                           
                        </div>
                    </div>
                   
                </div>
               
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




   @section Scripts{

            <script src="~/assets/libs/table-edits/build/table-edits.min.js"></script>
            <script src="~/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>


<script type="text/javascript">

        $(document).ready(function(){


        dataTable();
          
       
          
        }); 

        var dataTable= function loadTable(){

            $.ajax({
                type: "Get",
                url: "@Url.Action("GetAllExperience","Experience")",
                success: function (res) {

                    $.each(res, function (index, item) {

                                     $("#tableBody").append(`
                                                                        <tr data-id="${index + 1}" style="cursor: pointer;">
                                                                <td data-field="name" style="width: 80px">${item.name}</td>
                                                                 <td data-field="experienceCity">${item.experienceCity}</td>
                                                                <td data-field="description">${item.description}</td>
                                                                <td data-field="startDate">${item.startDate}</td>
                                                                <td data-field="endDate">${item.endDate}</td>                                   
                                                                <td data-field-noneEdit="profileId">${item.profileId}</td>
                                                        <td style="width: 100px">
                                                                               <a onclick="editableTable('${item.id}')"  class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                                               <i  class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        </td>
                                                           </tr>
                                    `);


                    });
                  var dt= $("#tablo").DataTable();
                    $("#profileId").val(res[0].profileId);
                    

                   return dt;

                }
            });

        }

        function updateExperience(res,dataId){  
           Swal.fire({
         title: 'Kaydetmek İstediğinizden Emin Misiniz',
      
            showCancelButton: true,
            confirmButtonText: 'Kaydet',
            
   }).then((result) => {
  /* Read more about isConfirmed, isDenied below */
                 if (result.isConfirmed) {

                    var resData = {
                        id: dataId,
                        name: res.name,
                        description: res.description,
                        endDate: res.endDate,
                        startDate: res.startDate,
                        experienceCity: res.experienceCity
                    }
                    $.post("/Admin/Experience/UpdateExperience", { experience: resData }, function (data) {

                    });

                      Swal.fire('Kayıt Başarılı!', 'Başarılı')
  }
               })

       }

        function editableTable(dataId){
   
                var e = {};
                $("#tablo tr").editable({
                   
                

                    edit: function (res) {
                      
                        $(".edit  i", this).removeClass("fa-pencil-alt").addClass("fa-save").attr("title", "Kaydet");
                        
                    },
                    
                    save: function (res) {
                        $(".edit i ", this).removeClass("fa-save").addClass("fa-pencil-alt").attr("title", "Edit"), this in e && (e[this].destroy(), delete e[this]);           
                         updateExperience(res,dataId);
                       
                        

                    },
                    cancel: function (data) {
                        
                      
                        
                    $(".edit i", this).removeClass("fa-save").addClass("fa-pencil-alt").attr("title", "Düzenle"), this in e && (e[this].destroy(), delete e[this]);
                    },
                });
            

        }
            
        function repeater(){
            "use strict";
            $("#repeater").repeater({
                
              
                show: function () {
                    $(this).slideDown();
                  
                },
                hide: function (e) {
                    confirm("Silmek İstediğinizden emin misiniz?") && $(this).slideUp(e);
                   
                },
                ready: function (e) {
                    $("#btnAddExperience").off("click");
                },
            })
        }

        function AddExperience(){

            $("#modal").modal("show");
           
            $("#btnAddExperience").click(function(e){
                repeater();
               
            });
        

        }

        function saveExperience(){
           var experiences=[];
          $(".row .form").each(function(index,item){

                experiences.push(
                         {
                    profileId: $("#profileId").val(),
                    name: item.children[0].children[1].value,
                    experienceCity: item.children[1].children[1].value,
                    startDate: item.children[2].children[1].value,
                    endDate: item.children[3].children[1].value,
                    description: item.children[4].children[1].value
                    });
             
            });
           
         $.ajax({
                type:"POST",
                url: "@Url.Action("AddExperience","Experience")",
                data:{experiences:experiences},
                success:function(data){
                    console.log(data);
                }




         });
           
        }
</script>
           

   }

