@section css{


}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Table Edits</h4>
                <p class="card-title-desc">Table Edits is a lightweight jQuery plugin for making table rows editable.</p>

                <div class="table-responsive">
                    <table id="tablo" class="table table-editable table-nowrap align-middle table-edits">
                        <thead>
                            <tr>
                               
                                <th>Ad</th>
                                <th>Açıklama</th>
                                <th>Başlangıç</th>
                                <th>Bitiş</th>
                                <th>Şehir</th>
                                <th>ProfileId</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody" >
                            
                            
                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

   @section Scripts{

            <script src="~/assets/libs/table-edits/build/table-edits.min.js"></script>

<script type="text/javascript">
        $(document).ready(function(){
           
            $.ajax({
                type:"Get",
                url:"@Url.Action("GetAllExperience","Experience")",
                success:function(res){
                    $.each(res,function(index,item){
                    
                        $("#tableBody").append(`
                                         <tr data-id="${index+1}">
                                        <td data-field="name" style="width: 80px">${item.name}</td>
                                                <td data-field="description">${item.description}</td>
                                                <td data-field="startDate">${item.startDate}</td>
                                                <td data-field="endDate">${item.endDate}</td>
                                                <td data-field="experienceCity">${item.experienceCity}</td>
                                                <td data-field-noneEdit="profileId">${item.profileId}</td>
                                        <td style="width: 100px">
                                                       <a  class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                       <i  class="fas fa-pencil-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                    `);
                    
                    
                    });
                }
            });
            
        });


        function editableTable(){
         
                var e = {};
                $("#tablo tr").editable({
                    
                    edit: function (t) {
                        console.log(t);
                        $(".edit  i", this).removeClass("fa-pencil-alt").addClass("fa-save").attr("title", "Save");
                        
                    },
                    
                    save: function (t) {
                        $(".edit i ", this).removeClass("fa-save").addClass("fa-pencil-alt").attr("title", "Save"), this in e && (e[this].destroy(), delete e[this]);
                        
                    },
                    cancel: function (t) {
                        
                        console.log(t);
                        
                    $(".edit i", this).removeClass("fa-save").addClass("fa-pencil-alt").attr("title", "Edit"), this in e && (e[this].destroy(), delete e[this]);
                    },
                });
            

        }
</script>
           

   }

